{% extends "../../../views/templates/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{courtHouse}}
      </h1>

      <p class="govuk-body">{{dateOfAppearance}}</p>

      {% from "table/macro.njk" import govukTable %}
      {% set rows = [] %}

      {% for case in cases %}
      {% set offences %}
          <ol>
              {% for offence in case.offences %}
                  <li>{{ offence.title }}</li>
              {% else %}
                  <li>No offences</li>
              {% endfor %}
          </ol>
      {% endset %}
       {% set rows = (rows.push(          [
         {
           html:   '<a href="/offender">$NAME</a>' | replace("$NAME", case.defendant.name)
         },
         {
             html: offences
         },
         {
           text: case.delius.status
         },
         {
           text: case.listingNumber + ' listing'
         },
         {
           text: case.session.startTime.slice(0, -3) + '-' + case.session.endTime.slice(0, -3)
         },
         {
           text: case.session.courtRoom | int
         }
       ]), rows) %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Offence",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Delius record",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Status",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Sitting",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Court",
            classes: 'govuk-!-width-one-quarter'

          }
        ],
        rows: rows
      })
      }}
    </div>
  </div>
{% endblock %}
