{% extends "../../../views/templates/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{courtHouse}}
      </h1>

      <p class="govuk-body">{{dateOfAppearance}}</p>

      {% from "table/macro.njk" import govukTable %}
      {% set rows = [] %}

      {% for case in cases %}
       {% set rows = (rows.push(          [
         {
           html:   '<a href="/offender">$NAME</a>' | replace("$NAME", case.defendant.name)
         },
         {
           text: case.offences[0].title
         },
         {
           text: case.delius.status
         },
         {
           text: case.listingNumber
         },
         {
           text: case.session.startTime
         },
         {
           text: case.session.courtRoom
         }
       ]), rows) %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Offence",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Delius record",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Status",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Sitting",
            classes: 'govuk-!-width-one-quarter'

          },
          {
            text: "Court",
            classes: 'govuk-!-width-one-quarter'

          }
        ],
        rows: rows
      })
      }}





    </div>
  </div>
{% endblock %}
